.header{
    background-color: #333333;
}
html{
    margin: 0;
    padding: 0;
}
.bod{
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left:0px;
    padding-right:0px;
    font-family: 'Raleway', sans-serif;
}
.nav-link{
    color:white;
}
.nav-link:hover{
    transition: 0.5s;
    transform: scale(1.2);
    text-decoration: underline;
    color: purple;
}
.logo{
    height: 40px;
    width: 50px;  
    display: inline-block;
}

.active{
    color:white;
}
a:hover{
    color:white;
    font-weight: bold;
}

.top{
    background-image:url("../images/logo3.jpg");
    padding-bottom:200px; 
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
@media only screen and (min-width: 1440px) {
    .top{
        background-image:url("../images/logo2.jpg");
    padding-bottom:200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    }
}

.updates{
    background-color: white;
    color: purple;
    border:none;
}

h1{
    font-size: 80px;
   
}
.white{
    color:white;
}
.title{
    font-size: 80px;
}
.heading{
    font-weight: bold;
    font-size:25px;
   
    
}

.about{
    
    color: black;    
}
.about_txt,#more_info{
    font-size:20px;
}

.view{
    color:white;
    background-color: purple;
    border:none;
}




.panel-default{
    background-color: #5a5a5a;
    padding-bottom: 300px;
        
}
i{
    font-size:25px;
    color:white;
}

.panel{
    
}
.go{
    border:2px green solid;
}
.footer{
    background-color:#171717;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

topic{
    background:linear-gradient(rgb(148, 4, 148),rgb(148, 1, 148));
    
}
.gal{
    height: 400px;
    width: 100%;
    border-radius: 20px;
    
}
button{
    border:none;
}
.gallery{
    background-color: #5a5a5a;
}

.footer_base{
    background-color:  rgb(73, 72, 72);
}
.icons{
    float:right;
}

.rights{
    color: black;
    
}
.notice_panel{
    border-radius: 20px;
}